:root {
    --color-background: #ffffff;
    --color-iris: #4d5ae5;
    --color-background-btn: #404bbf;
    --color-background-main: #2e2f42;
    --color-main: #434455;
    --color-cloud: #f4f4fd;
    --color-corn: #E7E9FC;
}

body {
    color: var(--color-main);
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.main-container {
    max-width: 1158px;
    margin: 0 auto;
}

ul, li {
    margin: 0;
    padding: 0;
}

/* header */

header {
    border-bottom: 1px solid var(--color-corn);
    background-color: var(--color-background);
}

.header-container {
    max-width: 1158px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 26px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-contact-item {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-logo {
    display: flex;
    margin-right: 76px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
}

.header-item {
    margin-right: 40px;
}
/* .header-item:last-child {
    margin-right: 0;
} */

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-background-main);
}

.header-link:is(:hover, :focus) {
    color: var(--color-background-btn);
}

.header-contact {
    display: flex;
}

.header-contact-list {
    margin-right: 40px;
}

.header-contact-list:not(:last-child) {
    margin-right: 40px;
}

.header-contact-itm {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);   
}

.header-contact-itm:is(:hover, :focus) {
    color: var(--color-background-btn);
}

span {
    color: var(--color-background-main);
    text-decoration: none;
}

/* header */

/* order */

.order {
    background-color: var(--color-background-main);
}

.order-container {
    max-width: 1158px;
    margin: 0 auto;
    text-align: center;
}

.order-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-background);
    width: 496px;
    margin: 0 auto;
    padding-top: 188px;
}

.order-btn {
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 188px;

    background-color: var(--color-iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-background);
    cursor: pointer;

    background: #4D5AE5;
    background-color: var(--color-iris);
}

.order-btn:is(:hover, :focus) {
    background-color: var(--color-background-btn);
}

/* order */

/* features */

.features {

}

.features-container {
    max-width: 1158px;
    margin: 0 auto;
    margin-top: 120px;
}

.hidden-title {
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-item {
}

.features-subtitle, .features-item-text {
    margin-right: 24px;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  var(--color-background-main);
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);
}

/* features */

/* about */

.about {
}

.about-container {
    max-width: 1158px;
    margin: 0 auto;
    margin-top: 120px;
}

.about-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-background-main);
    text-align: center;
}

.about-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 72px;
}

.about-img {
}

/* about */

/* team */

.team {
    background-color: var(--color-cloud);
}

.team-container {
    max-width: 1158px;
    margin: 0 auto;
    margin-top: 120px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-background-main);

    padding-top: 120px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 120px;
}

.team-list-item {
    background-color: var(--color-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-background-main);

    text-align: center;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);

    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;
}

/* team */

/* footer */

.footer {
    background-color: var(--color-background-main);
}

.footer-container {
    max-width: 1158px;
    margin: 0 auto;
}

.footer-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: var(--color-cloud);
}

.footer-text {
    color: var(--color-cloud);
    width: 264px;
}

/* footer */

/* portfolio */

.portfolio {
}
.portfolio-container-btn {
    width: 1158px;
    margin: 0 auto;

}

.container-btn-wrapper {
    margin: 0 auto;
}

.portfolio-list-btn {
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.portfolio-item-btn {
    margin-right: 24px;
}
.portfolio-btn {
    border: 1px solid var(--color-corn);
    border-radius: 4px;
    background-color: var(--color-cloud);
    padding: 12px 24px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    cursor: pointer;
    border: none;
}

.portfolio-btn:is(:hover, :focus) {
    background-color: var(--color-background-btn);
    color: var(--color-background);
}

.portfolio-container-list {
    width: 1158px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.portfolio-container-wrapper {

}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
}

.portfolio-item {
    margin-right: 24px;
    margin-bottom: 48px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-background-main);

    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.portfolio-text {
    margin: 0 auto;
    padding-bottom: 32px;
    padding-left: 16px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);
}


.portfolio-link {

}

.portfolio-item-text {
    border: 1px solid var(--color-corn);
    border-top: none;
}


.portfolio-img-list {
    display: block;
}
/* portfolio */